* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --header-height: 4.5rem;
  --title-font: 'Poppins', sans-serif;
  --body-font: 'DM Sans', sans-serif;

  --base-color: #10774a;
  --base-color-alt: #12955c;
  --body-color: #ffffff;
  --black-color: #1e2126;

  --font-size-title: 1.875rem;
  --font-size-subtitle: 1rem;

  --title-font: 'Poppins', sans-serif;
  --body-font: 'DM Sans', sans-serif;
}

/* REUSABLE  */

body {
  min-width: 200px;
}

p.button a {
  background: var(--base-color);
  color: var(--body-color);
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.2rem;
  font: 400 0.9rem 'Poppins', sans-serif;
  box-shadow: none;
  border: none;
  display: inline-block;
}

p.button a:hover {
  background-color: var(--base-color-alt);
}

a.button {
  background: var(--base-color);
  color: var(--body-color);
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.2rem;
  font: 400 0.9rem 'Poppins', sans-serif;
}

.grid {
  display: grid;
  gap: 4rem;
}

.grid2 {
  display: grid;
  gap: 2.5rem;
}

.grid2 img {
  width: 100%;
}

.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/* -----END POINT---- */

header #top {
  width: 100vh;
  border-bottom: 1px solid #e4e4e4;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.5rem;
}

.menu {
  opacity: 0;
  visibility: hidden;
  top: -20rem;
  transition: 0.3s;
}

.menu ul {
  display: none;
  transition: 0.29s;
}

nav.show .menu {
  opacity: 1;
  visibility: visible;
  background-color: var(--body-color);
  height: 100%;
  width: 100%;
  display: grid;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  place-content: center;
}

nav.show .menu ul {
  display: grid;
  margin-top: 3.5rem;
  text-align: center;
}

.title,
h1 {
  color: var(--base-color);
  font: 700 1.8rem 'Poppins', sans-serif;
}

nav .menu-close {
  display: none;
  visibility: hidden;
  opacity: 0;
}
nav.show .menu-close {
  display: block;
  visibility: visible;
  opacity: 1;
  position: fixed;
  z-index: 200;
  font-size: 1.8rem;
  top: 5;
  right: 0;
  color: var(--base-color);
}

nav.show ul li a {
  transition: 0.2s;
  position: relative;
}

nav.show ul li a::after {
  content: '';
  width: 0%;
  height: 2px;
  background: var(--base-color);

  position: absolute;
  left: 0;
  bottom: -1rem;
  transition: width 0.4s;
}

nav.show ul li a:hover::after {
  width: 100%;
}

nav .menu-open {
  visibility: visible;
  opacity: 1;
  font-size: 2.5rem;
  color: var(--base-color);
  margin: 0;
}

nav.show .menu-open {
  visibility: hidden;
  opacity: 0;
}

.logo {
  height: 2rem;
  margin: 0.5rem;
}

/* SECTIONS  */

section {
  margin-top: 2rem;
}

.galery {
  background: red;
  height: 170px;
}

.subanner {
  background-image: url(./assets/img/pattern.svg);
  background-color: var(--black-color);
  color: var(--body-color);
  font: 400 1rem 'Poppins', sans-serif;
  padding: 1rem;
}

.subanner p {
  font: 400 1.5rem 'Roboto', sans-serif;
  text-align: center;
}

.subanner p.button {
  text-align: left;
  margin-top: 2rem;
}

section.about h2 {
  font: 600 2rem 'Poppins', sans-serif;
  color: var(--base-color);
}
section.about p {
  font: 400 1rem 'Poppins', sans-serif;
}

section.galery-middle {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-image: url(https://www.huaiengenharia.com.br/wp-content/themes/huaiengenharia/images/sejaumassociado.jpg);
}

section.footer {
  background-image: url(./assets/img/pattern.svg);
  background-color: var(--black-color);
  margin-top: 0;
  color: var(--body-color);
  min-height: 8rem;
}

section.footer h2 {
  font: 500 2rem 'Poppins', sans-serif;
  padding: 0.5rem;
  margin-bottom: 1.2rem;
}

section.footer p {
  font: 200 1rem 'Poppins', sans-serif;
  padding: 0.4rem;
}

section.galery-middle .galery-simple {
  grid-template-columns: 1fr 1fr;
}

section.galery-middle .galery-simple img {
  border: 5px solid var(--base-color);
}

.footer {
  font: 300 2rem 'Roboto', sans-serif;
  color: var(--body-color);
  background-color: var(--black-color);
}

.footer .social {
  display: grid;
  grid-auto-flow: column;
  width: fit-content;
}

.footer .social-icons a {
  display: inline-block;
  cursor: pointer;
  color: var(--body-color);
  transition: 0.2s;
}

.footer .social-icons a:hover {
  transform: translateY(-8px);
}

